</div>
<div class="footer-bottom">
    <div class="footer">
        <% var year = (new Date()).getFullYear() %>
        <p>Made by theDoers · ©<%= year %> </p>
    </div>
</div>

</div>
</body>

</html>