<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>ATS</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel=icon href=/logo.ico> <nav class="navbar navbar-default">
    <div class="container"><a class="navbar-brand" href="#">
            <img src="/logo.svg" alt="" width="35" height="30">
        </a>
        <div class="navbar-header">
            <a href="/" class="navbar-brand brand">Automatic Ticketing System</p>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li id="home"><a href="/secrets">HOME</a></li>
            <li id="about"><a href="/about">ABOUT US</a></li>
            <li id="contact"><a href="/contact">CONTACT US</a></li>
        </ul>
    </div>
    </nav>

<body>
    <div class="container">