<%- include('partials/header') %>
    <div style="padding: 1rem">
        <h2 style="padding: 1rem; color: aliceblue;">Add a new Patient</h2>
        <div class="card">
            <div class="card-body">
                <form action="/patient" method="POST">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" class="form-control" name="name">
                            </div>
                            <div class="mb-3">
                                <label for="age" class="form-label">Age</label>
                                <input type="number" class="form-control" name="age">
                            </div>
                            <div class="mb-3">
                                <label for="gender" class="form-label">Gender</label>
                                <input type="text" class="form-control" name="gender">
                            </div>
                            <div class="mb-3">
                                <label for="height" class="form-label">Height(in cm)</label>
                                <input type="number" class="form-control" name="height">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label for="weight" class="form-label">Weight(in kg)</label>
                                <input type="number" class="form-control" name="weight">
                            </div>
                            <div class="mb-3">
                                <label for="bedAllocated" class="form-label">Bed Allocated</label>
                                <input type="number" class="form-control" name="bedAllocated">
                            </div>
                            <div class="mb-3">
                                <label for="condition" class="form-label">Condition</label>
                                <input type="text" class="form-control" name="condition">
                            </div>
                            <div class="mb-3">
                                <label for="comments" class="form-label">Comments</label>
                                <input type="text" class="form-control" name="comments">
                            </div>
                        </div>
                        <button class="btn btn-primary col-sm-12" type="submit">Add Data</button>
                </form>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>