body{
  background-color: rgb(116, 99, 99);
}

text {
  font-size: 10px;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
}

line,
path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}